@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Lato&display=swap';

body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  background: #333;
}

.container {
  max-width: 980px;
  padding: 0 1em;
  margin: 0 auto;
}

h1 {
  color: #ccc;
}

form {
  display: flex;
}

form input {
  padding: 1em;
  font-size: 1.25em;
  flex: 1;
  border-radius: 0.5em 0 0 0.5em;
  border: 3px solid deeppink;
  background: #555;
  color: #fff;
}

form button {
  padding: 1em;
  font-size: 1.25em;
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
  background: deeppink;
  border: 3px solid deeppink;
  color: #fff;
  font-weight: bold;
}

pre {
  overflow: auto;
}

code {
  font-size: 1.2em;
  color: #ccc;
}

.loading {
  margin: 1em 0;
  text-align: center;
  line-height: 3em;
  font-size: 2em;
  background: #222;
  color: #eeeeee;
  border-radius: 0.25em;

  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
